/* Fonts */
@font-face {
    font-family: "Nunito Sans" ;
    src: url("./fonts/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: "Nunito Sans Italic";
    src: url("./fonts/NunitoSans-Italic.ttf");
}
@font-face {
    font-family: "Yeseva One" ;
    src: url("./fonts/YesevaOne-Regular.ttf");
}
/* General styles */
body {
    margin: 0;
    font-family: "Nunito Sans";
    font-size: 11px;
    overflow-x: hidden;
}
@media screen and (max-width: 1300px) {
    body {
        background-color: #131313;
    }   
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 33px;
    width: 161px;
    height: 37px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}
@media screen and (max-width: 1300px) {
    .button {
        width: 100%;
    }   
}
a {
    color: #E3B873;
}
@media screen and (max-width: 1300px) {
    a {
        color: #FFFFFF;
        text-decoration: none;
    }   
}
h1 {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
}
@media screen and (max-width: 1300px) {
    h1 {
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
    }
    
}
h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 auto;
}
@media screen and (max-width: 1300px) {
    h2 {
    text-align: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
    /* or 30px */
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}
}
p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (max-width: 1300px) {
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
    }
    
}
h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0px;
}
@media screen and (max-width: 1300px) {
    h3 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.6%;
        /* identical to box height, or 19px */
            text-transform: uppercase;
            color: #E3B873;
    }
}
h4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 31.21px;
}
.img-line {
    height: 1.5px;
    background-color: #E3B873;
    width: 32px;
}
.img-svg {
    padding-left: 9px;
    padding-right: 9px;
}
/* only mobile slider container */
.mobile-slider-container {
    display: none;
}
@media screen and (max-width: 1300px) {
    .mobile-slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 36.65px;
    }
    .arrows-image-mobile-slider-general-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
    }
    .arrows-image-mobile-slider-container {
        display: flex;
        justify-content: space-between;
        width: 95%;
        /* margin-top: -40%; */
        /* margin-bottom: 40%; */
    }
    .image-mobile-slider {
        width: 100%;
    }
    .arrow-image-mobile-slider-container {
        background-color: #E3B873;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .arrow-mobile {
        width: 7px;
        height: 7px;
        border-top: 2px solid white;
        border-right: 2px solid white;
    }
    #left-arrow-mobile {
        transform: rotate(-135deg);
        margin-left: 2.5px;
    }
    #right-arrow-mobile {
        transform: rotate(45deg);
        margin-right: 2.5px;
    }
    
}
/* only mobile slider container */
/* Header */
.header {
    background-color: #131313;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1256px;
    margin: auto;
    height: 87px;
}
@media screen and (max-width: 1300px) {
    .header-container {
        height: 49px;
        width: 90%;
        max-width: 500px;
    }
    nav {
        display: none;
    }
}
    
.logo-header {
    color: #E3B873;
    padding-right: 46px;
    width: 179px;
    margin-left: 0px;
}
@media screen and (max-width: 1300px) {
    .logo-header {
        padding-right: 0px;
    }
}
.menu-header {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.point-menu {
    text-decoration: none;
    color: white;
    margin-left: 47px;
}
.jackor-menu {
    text-decoration: none;
    color: white;
    transition: 400ms all;
}
.jackor-menu:hover {
    color: #E3B873;
}

.contacts-header {
    padding-left: 67px;
    padding-right: 45px;
    width: 126px;
    text-align: right;
}
@media screen and (max-width: 1300px) {
    .contacts-header {
        padding-left: 0px;
        padding-right: 0px;
    }
    #button-call-header {
        display: none;
    }
    
}
    
/* Main */
/* Main.Hero */
.hero-section {
    background-image: url("./images/image_4.3.jpg");
    height: 707px;
    position: relative;
    z-index: -1;
}
@media screen and (max-width: 1300px) {
    .hero-section{
        height: 476px;
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: center;
    }
}
.dark-image {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}

.container-hero {
    max-width: 1256px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
@media screen and (max-width: 1300px) {
    .container-hero {
        width: 90%;
        max-width: 500px;
    }
}
.h1-hero {
    max-width: 676px;
    margin-bottom: 19px;
}
@media screen and (max-width: 1300px) {
    .h1-hero {
        margin-bottom: 16px;
    }
}
.city-h1 {
    color: #E3B873;
}
.p-hero {
    max-width: 504px;
    max-height: 89px;
    padding-bottom: 41px;
}
@media screen and (max-width: 1300px) {
    .p-hero {
        max-height: 94px;
        padding-bottom: 32px;
    }
    
}
.text-hero {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: white;
    margin-top: 0px;
}
@media screen and (max-width: 1300px) {
    .text-hero {
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
    }
    
}
.button-1 {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    height: 51px;
    width: 207px;
    color: #FFFFFF;
}
@media screen and (max-width: 1300px) {
    .button-1 {
        width: 100%;
        font-size: 11px;
    }
    
}
#button-left-hero {
    height: 51px;
    width: 207px;
}
@media screen and (max-width: 1300px) {
    #button-left-hero {
        width: 100%;
    }
    
}
.buttons-hero {
    display: flex;
    justify-content: left;
}

@media screen and (max-width: 1300px) {
    .buttons-hero {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .button-hero {
        width: 100%;
    }
    #button-left-hero-container {
        padding-bottom: 26px;
    }
}
#button-right-hero-container {
    padding-left: 20px;
}
@media screen and (max-width: 1300px) {
    #button-right-hero-container {
        padding-left: 0px;
    }
    
}
/* Main.Projects */
.projects {
    height: 1074px;
    background-color: #131313;
}
@media screen and (max-width: 1300px) {
    .projects {
        height: max-content;
    }
    
}
.projects-container {
    display: flex;
    max-width: 1256px;
    justify-content: space-between;
    margin: 0 auto;
    height: 1074px;
}
@media screen and (max-width: 1300px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: max-content;
    }
    
}
.left-projects {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 176px;
}
@media screen and (max-width: 1300px) {
    .left-projects {
        width: 100%;
        max-width: 500px;
        align-items: center;
        padding-top: 36px;
    }
    
}
.right-projects {
    width: 60%;
    padding-top: 107px;
}
@media screen and (max-width: 1300px) {
    .right-projects {
        display: none;
    }
    
}
.grid-projects-container {
    display: grid;
    grid-template-columns: 50% 50%; 
}
@media screen and (max-width: 1300px) {
    .grid-projects-container {
        width: 100%;
    }
    
}
.slider-left-projects {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 26px;
}
@media screen and (max-width: 1300px) {
    .slider-left-projects {
        display: none;
    }
    
}
.left-arrow {
    transform: rotate(-180deg);
    padding-left: 20px;
}

.point-arrow-slider-left-projects {
    height: 9.5px;
    width: 9.5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-left: 9.5px;
}
#point-1-arrow-slider-left-projects {
    opacity: 1;
    background-color: #FFFFFF;
}
.right-arrow-slider-left-projects {
    padding-left: 29.5px;
}
.right-arrow {
    float: right;
}
.h2-left-projects {
    width: 253px;
    height: 70px;
    padding-bottom: 34px;
    vertical-align: text-top;
}
@media screen and (max-width: 1300px) {
    .h2-left-projects {
        max-width: 200px;
        padding-bottom: 22px;
    }  
}

div.p-left-projects {
    width: 442px;
    height: 86px;
    padding-bottom: 42px;
}
p.p-left-projects {
    margin: 0px;
}
@media screen and (max-width: 1300px) {
    div.p-left-projects {
        width: 100%;
        padding-bottom: 36px;
    }
    p.p-left-projects {
        text-align: center;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%;
        /* or 17px */
        text-align: center;
        color: #FFFFFF;
    }  
}
.characteristic-left-projects {
    display: flex;
    flex-direction: column;
    justify-content: top;
}
.h3-characteristic-left-projects {
    height: 22px;
    padding-bottom: 9px;
}

.p-characteristic-left-projects {
    width: 120px;
    margin-bottom: 34px;
}
.tittles-container-right-projects {
    display: flex;
    justify-content: left;
    padding-bottom: 45px;
}
.h4-tittles-projects-right-projects {
    padding-left: 60.5px;
    display: flex;
    flex-direction: column;
}

.line-tittle-projects-right-projects {
    height: 1px;
    width: 100%;
    background-color: #E3B873;
    visibility: hidden;
}
#line-1-tittle-projects-right-projects{
    visibility: visible;
}
#h4-1-tittle-projects-right-projects{
    opacity: 1;
    color: #E3B873;
}
.h4-tittle-projects-right-projects{
    display: block;
    margin: 0 auto;
    padding-bottom: 6.7px;
    transition: all 400ms;
}
.h4-tittle-projects-right-projects:hover{
    color: #E3B873;
    opacity: 1;
}
.image-right-projects{
    max-width: 679px;
}
#h4-1-tittles-projects-right-projects {
    padding-left: 0px;
}
.link-tittle-projects-right-projects {
    text-decoration: none;
}
/* Main.Online Controls */
.online-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -320px;
}
@media screen and (max-width: 1300px) {
    .online-contorls {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        
    }
    .online-controls-container {
        margin-top: 59px;
        width: 90%;
        height: fit-content;
        max-width: 500px;
    }
    
}

.h2-online-contorls-container {
    padding-bottom: 19.79px;
}
.h2-online-contorls{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
@media screen and (max-width: 1300px) {
    .h2-online-contorls {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        /* or 30px */
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
}
.video-online-controls-general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-online-controls-container {
    position: relative;
}
@media screen and (max-width: 1300px) {
    .video-online-controls-container {
        width: 100%;
    }
}
.dark-video-online-controls {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: #131313;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1300px) {
    .video-online-controls {
        width: 100%;
    }
}
.ideo-online-controls {
    width: 817px;
}
.play-online-controls-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.circle-play-online-controls-container {
    border-radius: 42.5px;
    width: 85px;
    height: 85px;
    background-color: #E3B873;
}
@media screen and (max-width: 1300px) {
    .circle-play-online-controls-container {
        width: 37px;
        height: 37px;
    }
}
.triangle-play-online-controls-general-container {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle-play-online-controls-container {
    border: 18px solid transparent; 
    border-left: 28px solid white;
    margin-left: 22px;
}
@media screen and (max-width: 1300px) {
    .triangle-play-online-controls-container {
    border: 7px solid transparent; 
    border-left: 12px solid white;
    margin-left: 9px;
    }
}
.line-online-controls-container {
    height: 1.5px;
    width: 55px;
    background-color: #E3B873;
    margin-top: 62.5px;
    margin-bottom: 34.5px;
}
@media screen and (max-width: 1300px) {
    .line-online-controls-container {
        margin-top: 28px;
        margin-bottom: 21.46px;
    }
}
.p-online-controls-container {
    width: 681px;
    padding-bottom: 93px;
}
@media screen and (max-width: 1300px) {
    .p-online-controls-container {
        width: 100%;
        padding-bottom: 61.05px;
    }
}
.text-online-controls-container {
    color: #363636;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
@media screen and (max-width: 1300px) {
    .text-online-controls-container {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 169.8%;
        /* or 19px */
        text-align: center;
        color: #FFFFFF;
    }
}
form.form-online-controls-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 1300px) {
    form.form-online-controls-container {
        width: 100%;
    }
}
div.form-online-controls-container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 39px;
}
@media screen and (max-width: 1300px) {
    div.form-online-controls-container {
        flex-direction: column;
        width: 100%;
    }
}
.input-form-online-controls{
    border: none;
    border-bottom: 1px solid black;
    width: 231px;
    height: 25px;
    font-size: 14px;
    color: #363636;
    background-color: rgba(54, 54, 54, 0);
}
@media screen and (max-width: 1300px) {
    .input-tittle-form-online-controls-container{
        width: 100%;
    }
    .input-form-online-controls-container {
        padding-bottom: 40px;
    }
    .input-form-online-controls {
        border-bottom: 1px solid white;
        width: 100%;
    }
    .input-form-online-controls::placeholder{
        color: #FFFFFF;
    }
    #phone-input-tittle-form-online-controls-container {
        padding-bottom: 106.96px;
    }
}
.input-form-online-controls:focus{
    border: none;
    border-bottom: 1px solid #E3B873;
    outline: none;
}

#button-form-online-controls{
    height: 51px;
    width: 200px;
    font-size: 13px;
    font-style: normal;
}
@media screen and (max-width: 1300px) {
    .button-form-online-controls-container {
        width: 100%;
    }
    #button-form-online-controls{
        width: 100%;
        background: #E3B873;
        box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
        border-radius: 0px;
    }
}    
.tittle-form-online-controls {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
    padding: 0 auto;
    margin: 0 auto;
    padding-left: 1px;
}
@media screen and (max-width: 1300px) {
    .tittle-form-online-controls {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
}

.checkbox-input-form-online-controls-container {
    display: flex;
    align-items: center;
    padding-bottom: 147px;
}
@media screen and (max-width: 1300px) {
    .checkbox-input-form-online-controls-container {
        width: 100%;
        margin-top: -200px;
        padding-bottom: 0px;
    }
}
.checkbox-input-form-online-controls {
    position: absolute;
  opacity: 0;
}

.checkbox-input-form-online-controls+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    zoom: 1;
  }

  .checkbox-input-form-online-controls+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E3B873;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .checkbox-input-form-online-controls:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("./images/checkbox.svg");
    background-size: 15px;
  }
  .checkbox-input-form-online-controls:not(:checked)+label::before{
    background-color: black;
    background-image: none;
}
  label {
      font-size: 14px;
      color: #181818;
  }
  @media screen and (max-width: 1300px) {
    label {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
        /* or 23px */
        color: #FFFFFF;
    }  
  }
/* Main.Types of repear */
@media screen and (max-width: 1300px) {
    .types-of-repear {
        background-color: #FFFFFF;
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


.types-of-repear-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1300px) {
    .types-of-repear-container {
        width: 90%;
        max-width: 500px;
    }
}
.h2-types-of-repear-container {
    color: #131313;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 auto;
    padding-bottom: 13px;
}
@media screen and (max-width: 1300px) {
    .h2-types-of-repear-container {
        margin-top: 110px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        /* or 30px */
        text-align: center;
        text-transform: uppercase;
        color: #181818;
        padding-bottom: 17px;
    }
}

#img-types-of-repear-container {
    padding-bottom: 31px;
}
@media screen and (max-width: 1300px) {
    #img-types-of-repear-container {
        padding-bottom: 40px;
    }
}
/* .images-types-of-repear-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images-types-of-repear {
    width: 392px;
    padding-left: 30px;
}
.descriptions-types-of-repear-container {
    display: flex;
    align-items: center;
    margin-top: -127px;
    justify-content: center;
}
.description-types-of-repear-container {
    width: 320px;
    height: 286px;
    background-color: #FFFFFF;
    margin-left: 100px;
} */
.columns-types-of-repear-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1256px;
    margin-bottom: 207px;
}
@media screen and (max-width: 1300px) {
    .columns-types-of-repear-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .images-types-of-repear {
        width: 100%;
    }
}
.column-types-of-repear-container {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1300px) {
    .column-types-of-repear-container {
        width: 100%;
        align-items: flex-start;
    }
}
.description-types-of-repear-container {
    margin-top: -127px;
    background-color: white;
    width: 320px;
    height: 286px;
    margin-left: 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
} 
@media screen and (max-width: 1300px) {
    .description-types-of-repear-container {
        margin-top: -30%;
        background-color: white;
        width: 79%;
        height: 241px;
        margin-left: 0px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    } 
}
.price-types-of-repear {
    width: 228px;
    height: 54px;
    background-color: #E3B873;
    margin-top: -26px;
    margin-left: 31px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 124px;
}
@media screen and (max-width: 1300px) {
    .price-types-of-repear {
        width: 50%;
        height: 40px;
        margin-left: 0px;
        margin-top: -5%;
        font-size: 15px;
        line-height: 138.6%;
        margin-bottom: 59px;   
    } 
}
h4.list-types-of-repear{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    opacity: 1;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 34px;
    padding-bottom: 13px;
    text-transform: none;
}
@media screen and (max-width: 1300px) {
    h4.list-types-of-repear{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
        /* identical to box height, or 21px */
        color: #363636;
        padding-top: 21px;
        padding-bottom: 10px;
    }
}
ul.list-types-of-repear {
    padding-left: 0px;
    margin: 0 auto;
    margin-left: 46px;

}
li.list-types-of-repear{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

@media screen and (max-width: 1300px) {
    li.list-types-of-repear {
        line-height: 169.8%;
    }
}

/* Main.stages-of-work-form */
section.stages-of-work-form {
    display: flex;
    justify-content: center;
    margin-bottom: 242px;
    background-image: url("./images/stages-of-work.svg");
    background-repeat: no-repeat;
}
@media screen and (max-width: 1300px) {
    section.stages-of-work-form {
        display: none;
    }
}

.stages-of-work-form-container{
    display: flex;
    width: 1256px;

}
.stages-of-work {
    width: 45%;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 65px;
}
.stage-of-work {
    display: flex;
    justify-content: left;
}
.num-stage-of-work {
    width: 41.76px;
    height: 41.76px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    text-align: center;
    line-height: 41.76px;
    margin-right: 17.05px;
}
.point-stage-of-work {
    display: flex;
    align-items: center;
    height: 57.76px;
    padding: 0px;
    width: 316px;
}
span.num {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
span.point-stage-of-work {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
form.form-stages-of-work-form{
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    margin-bottom: 38.44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.tittle-form-stages-of-work-form {
    width: 250px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 39px;
}
span.tittle-form-stages-of-work-form{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

div.form-stages-of-work-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    padding-top: 105px;
}
div.input-form-stages-of-work-form-container{
    padding-bottom: 48px;
}
.input-form-stages-of-work-form {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
    width: 408px;
    height: 25px;
    font-size: 14px;
    background-color: #131313;
    color: #FFFFFF;
    
}
.input-form-stages-of-work-form:focus{
    border: none;
    border-bottom: 1px solid #E3B873;
    outline: none;
}
.input-form-stages-of-work-form::placeholder{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */
    color: #FFFFFF;
}
.checkbox-input-form-stages-of-work-container {
    display: flex;
    justify-content: left;
    width: 408px;
    margin-top: -32px;
    margin-bottom: 30px;
}
.checkbox-input-form-stages-of-work {
    position: absolute;
  opacity: 0;
}

.checkbox-input-form-stages-of-work+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    zoom: 1;
  }

  .checkbox-input-form-stages-of-work+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E3B873;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .checkbox-input-form-stages-of-work:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("./images/checkbox.svg");
    background-size: 15px;
  }
  .checkbox-input-form-stages-of-work:not(:checked)+label::before{
    background-color: #131313;
    background-image: none;
}
label#checkbox-input-form-stages-of-work{
    color: #FFFFFF;
}
.button-input-form-stages-of-work-container {
    display: flex;
    justify-content: end;
    width: 409px;
}
#button-input-form-stages-of-work {
    border-radius: 0px;
    width: 213px;
    height: 51px;
}
.tittle-input-form-stages-of-work-form {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid #131313;
}
.img-advantage-form-stages-of-work-form {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    width: 72px;
    height: 72px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage-form-stages-of-work-form{
    display: flex;
    width: 440px;
}
img.img-advantage-form-stages-of-work-form{
    width: 40px;
}
div.text-advantage-form-stages-of-work-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 25px;
}
span.text-advantage-form-stages-of-work-form{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
/* Main.stages-of-work-form */ 
section.styles-of-repair{
    background-image: url("./images/background-styles-of-repair.png");
    height: 864px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 110.47px;
}
@media screen and (max-width: 1300px) {
    section.styles-of-repair {
        background-image: none;
        height: max-content;
        width: 100%;
    }
}

#dark-image-gradient-styles-of-repair {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
@media screen and (max-width: 1300px) {
    .dark-image-gradient#dark-image-gradient-styles-of-repair {
        display: none;
    }
}
div.styles-of-repair-container {
    width: 1256px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
}
@media screen and (max-width: 1300px) {
    div.styles-of-repair-container {
        width: 90%;
        justify-content: center;
    }
}
.h2-styles-of-repair {
    padding-top: 137px;
    padding-bottom: 47px;
    width: 300px;
}
@media screen and (max-width: 1300px) {
    .left-styles-of-repair-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .h2-styles-of-repair-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -211px;
        padding-bottom: 24px;
    }
    .h2-styles-of-repair {
        padding-top: 0px;
        width: 200px;
        padding-bottom: 0px;
    }
}
menu.menu-styles-of-repair {
    padding: 0;
}
@media screen and (max-width: 1300px) {
    .menu-styles-of-repair {
        display: none;
    }
}
ul.menu-styles-of-repair {
    padding: 0;
    margin: 0;
}
li.menu-styles-of-repair {
    list-style: none;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    padding-bottom: 25px;
    height: 26px
}
a.menu-styles-of-repair {
    color: #FFFFFF;
    text-decoration: none;
    z-index: 5;
    transition: all 400ms;
}
a.menu-styles-of-repair:hover {
    color: #E3B873;
    border-bottom: 0.66px solid #E3B873;
}

a.menu-styles-of-repair:focus {
    color: #E3B873;
    border-bottom: 0.66px solid #E3B873;
}
div.right-styles-of-repair-container {
    display: flex;
}
@media screen and (max-width: 1300px) {
    div.right-styles-of-repair-container {
        display: none;
    }
    
}
.left-right-styles-of-repair-container {
    display: flex;
    flex-direction: column;
    margin-top: -41.6px;
    margin-right: 43px;
    margin-bottom: -41.2px;
    justify-content: space-between;
}
.right-right-styles-of-repair-container {
    display: flex;
    flex-direction: column;
    margin-top: -112.53px;
    justify-content: space-between;
    margin-bottom: 39.65px;
}
img.american-classic{
    width: 354px;
}
/* Main.Our clients*/
@media screen and (max-width: 1300px) {
   .our-clients {
       display: none;
   }
    
}
.our-clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2-our-clients-container {
    color: #131313;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 auto;
    padding-bottom: 13px;
}
#img-our-clients-container {
    padding-bottom: 27.65px;
}
div.advantage-our-clients {
    width: 400px;
    text-align: center;
    padding-bottom: 39px;
}
span.advantage-our-clients {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.reviews-our-clients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1256px;
}
.review-our-clients-container {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
}
.img-name-our-clients-container {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.img-our-clients-container {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-right: 20px;
}
div.name-our-clients-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
span.name-our-clients-container {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
div.text-review-our-clients-container {
    margin-left: 20px;
    padding-right: 31.92px;
}
p.text-review-our-clients-container {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    color: #959595;
    margin: 0;
    margin-bottom: 10px;
}
.details-review-our-clients-container {
    width: 293.75px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    margin-top: -27px;
}

div.details-review-our-clients {
    background-color: #E3B873;
    display: flex;
    
    align-items: center;
    height: 54px;
}
#square-details-review-our-clients {
    width: 130px;
}
#date-details-review-our-clients {
    width: 163px;
}
img.details-review-our-clients{
    padding-left: 17.36px;
    padding-right: 15.39px;
}

span.details-review-our-clients{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.reviews-our-clients {
    display: flex;
    flex-direction: column;
}
/* Main. Form questions */
section.form-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-form-questions-container {
    display: flex;
    width: 100%;
    z-index: -1;
}
.left-backgrond-form-questions-container {
    background-image: url("./images/city-left.svg");
    height: 450px;
    width: 50%;
    opacity: 0.1;
}
.right-backgrond-form-questions-container {
    background-image: url("./images/city-right.svg");
    height: 450px;
    width: 50%;
    opacity: 0.1;
}
.form-questions-container {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 883px;
    height: 445.32px;
    margin-top: -222.66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.tittle-form-form-questions {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 34.4px;
    padding-bottom: 45.84px;
}
.input-form-form-questions-container {
 display: flex;
 width: 520px;
 justify-content: space-between;
}
div.input-form-form-questions-container {
    margin-bottom: 48.76px;
}
div.input-form-form-questions {
    height: 45px;
}
.input-form-form-questions {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 231px;
    height: 24px;
    font-size: 14px;
    background-color: #131313;
    color: #FFFFFF;
}
#email-input-form-form-questions {
    width: 516.82px;
    margin-bottom: 48.23px;
}
.input-form-form-questions:focus{
    border: none;
    border-bottom: 1px solid #E3B873;
    outline: none;
}
.input-form-form-questions::placeholder{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */
    color: #FFFFFF;
}
.checkbox-input-form-form-questions-container {
    display: flex;
    justify-content: center;
    width: 408px;
    margin-bottom: 50.45px;
}
.checkbox-input-form-form-questions {
    position: absolute;
  opacity: 0;
}

.checkbox-input-form-form-questions+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    zoom: 1;
  }

  .checkbox-input-form-form-questions+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E3B873;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .checkbox-input-form-form-questions:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("./images/checkbox.svg");
    background-size: 15px;
  }
  .checkbox-input-form-form-questions:not(:checked)+label::before{
    background-color: #131313;
    background-image: none;
}
label#checkbox-input-form-questions{
    color: #FFFFFF;
}
.button-input-form-form-questions-container {
    display: flex;
    justify-content: center;
    width: 409px;
}
#button-input-form-questions {
    border-radius: 0px;
    width: 213px;
    height: 51px;
}
.tittle-input-form-form-questions {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border: 1px solid #131313;
}


/* Main. Contacts */
section.contacts {
    background-image: url("./images/background-contacts.png");
    height: 953.9px;
    margin-top: -223.66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dark-image-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    height: 100%;
    width: 100%;
}
#dark-image-contacts {
    height: 100%;
    background-color: #181818;
    opacity: 1;
}

address {
    padding-top: 274.67px;
    font-style: normal;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    padding-bottom: 26px;
    z-index: 3;
}
.icons-contacts {
    display: flex;
    justify-content: space-between;
    width: 71px;
    z-index: 3;
}
.icon-contacts {
    background: #E3B873;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43.29px;
    z-index: 3;
}
.map-contacts {
    z-index: 3;
}
/* footer */
footer {
    background-color: #181818;
}