/* Fonts */
@font-face {
    font-family: "Nunito Sans" ;
    src: url("./fonts/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: "Nunito Sans Italic";
    src: url("./fonts/NunitoSans-Italic.ttf");
}
@font-face {
    font-family: "Yeseva One" ;
    src: url("./fonts/YesevaOne-Regular.ttf");
}
/* General styles */
body {
    margin: 0;
    font-family: "Nunito Sans";
    font-size: 11px;
    overflow-x: hidden;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 33px;
    width: 161px;
    height: 37px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}
a {
    color: #E3B873;
}
h1 {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
}
h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0 auto;
}
p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
h4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 31.21px;
}
.img-line {
    height: 1.5px;
    background-color: #E3B873;
    width: 32px;
}
.img-svg {
    padding-left: 9px;
    padding-right: 9px;
}
/* Header */
.header {
    background-color: #131313;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1256px;
    margin: auto;
    height: 87px;
}
.logo-header {
    color: #E3B873;
    padding-right: 46px;
    width: 179px;
    margin-left: 0px;
}
.menu-header {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.point-menu {
    text-decoration: none;
    color: white;
    margin-left: 47px;
}
.jackor-menu {
    text-decoration: none;
    color: white;
    transition: 400ms all;
}
.jackor-menu:hover {
    color: #E3B873;
}

.contacts-header {
    padding-left: 67px;
    padding-right: 45px;
    width: 126px;
    text-align: right;
}
/* Main */
/* Main.Hero */
.hero-section {
    background-image: url("./images/image_4.3.jpg");
    height: 707px;
    position: relative;
    z-index: -1;
}
.dark-image {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    height: 707px;
    width: 100%;
    background-color: black;
    z-index: -1;
}

.container-hero {
    max-width: 1256px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 707px;
    justify-content: center;
}
.h1-hero {
    width: 676px;
    margin-bottom: 19px;
}
.city-h1 {
    color: #E3B873;
}
.p-hero {
    width: 504px;
    height: 89px;
    padding-bottom: 41px;
}
.text-hero {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: white;
}
.text-hero {
    margin-top: 0px;
}
.button-1 {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    height: 51px;
    width: 207px;
    color: #FFFFFF;
}
#button-left-hero {
    height: 51px;
    width: 207px;
}
.buttons-hero {
    display: flex;
    justify-content: left;
}
#button-right-hero-container {
    padding-left: 20px;
}
/* Main.Projects */
.projects {
    height: 1074px;
    background-color: #131313;
}
.projects-container {
    display: flex;
    max-width: 1256px;
    justify-content: space-between;
    margin: 0 auto;
    height: 1074px;
}
.left-projects {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 176px;
}
.right-projects {
    width: 60%;
    padding-top: 107px;
}
.grid-projects-container {
    display: grid;
    grid-template-columns: 50% 50%; 
}
.slider-left-projects {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 85px;
}
.left-arrow {
    transform: rotate(-180deg);
    padding-left: 20px;
}

.point-arrow-slider-left-projects {
    height: 9.5px;
    width: 9.5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-left: 9.5px;
}
#point-1-arrow-slider-left-projects {
    opacity: 1;
    background-color: #FFFFFF;
}
.right-arrow-slider-left-projects {
    padding-left: 29.5px;
}
.right-arrow {
    float: right;
}
.h2-left-projects {
    width: 253px;
    height: 70px;
    padding-bottom: 34px;
    vertical-align: text-top;
}
.p-left-projects {
    width: 442px;
    height: 86px;
    padding-bottom: 42px;
}
.characteristic-left-projects {
    display: flex;
    flex-direction: column;
    justify-content: top;
}
.h3-characteristic-left-projects {
    height: 22px;
    padding-bottom: 9px;
}
.p-characteristic-left-projects {
    width: 120px;
}
.tittles-container-right-projects {
    display: flex;
    justify-content: left;
    padding-bottom: 45px;
}
.h4-tittles-projects-right-projects {
    padding-left: 60.5px;
    display: flex;
    flex-direction: column;
}

.line-tittle-projects-right-projects {
    height: 1px;
    width: 100%;
    background-color: #E3B873;
    visibility: hidden;
}
#line-1-tittle-projects-right-projects{
    visibility: visible;
}
#h4-1-tittle-projects-right-projects{
    opacity: 1;
    color: #E3B873;
}
.h4-tittle-projects-right-projects{
    display: block;
    margin: 0 auto;
    padding-bottom: 6.7px;
}
.h4-tittle-projects-right-projects:hover{
    color: #E3B873;
    opacity: 1;
}
.image-right-projects{
    width: 679px;
}
#h4-1-tittles-projects-right-projects {
    padding-left: 0px;
}
.link-tittle-projects-right-projects {
    text-decoration: none;
}
/* Main.Online Controls */
.online-controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -320px;
}
.h2-online-contorls-container {
    padding-bottom: 12.7px;
}
.h2-online-contorls{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.video-online-controls-container {
    position: relative;
}
.dark-video-online-controls {
    position: absolute;
    height: 434px;
    width: 817px;
    opacity: 0.8;
    background-color: #131313;
    top: 0px;
    z-index: 1;
}
.ideo-online-controls {
    width: 817px;
}
.play-online-controls-container {
    position: relative;
    display: flex;
    width: 85px;
    height: 85px;
    justify-content: center;
    margin-top: -270px;
    z-index: 3;
}
.circle-play-online-controls-container {
    border-radius: 42.5px;
    width: 85px;
    height: 85px;
    background-color: #E3B873;
}
.triangle-play-online-controls-container {
    position: absolute;
    border: 18px solid transparent; 
    border-left: 28px solid white;
    top: 24px;
    left: 32px;
}
.line-online-controls-container {
    height: 1.5px;
    width: 55px;
    background-color: #E3B873;
    margin-top: 240px;
    margin-bottom: 34.5px;
}
.p-online-controls-container {
    width: 681px;
    padding-bottom: 93px;
}
.text-online-controls-container {
    color: #363636;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
form.form-online-controls-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.form-online-controls-container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 39px;
}
.input-form-online-controls{
    border: none;
    border-bottom: 1px solid black;
    width: 231px;
    height: 25px;
    font-size: 14px;
    color: #363636;
}
.input-form-online-controls:focus{
    border: none;
    border-bottom: 1px solid #E3B873;
    outline: none;
}

#button-form-online-controls{
    height: 51px;
    width: 200px;
}
.tittle-form-online-controls {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
    padding: 0 auto;
    margin: 0 auto;
    padding-left: 1px;
}

.checkbox-input-form-online-controls-container {
    display: flex;
    align-items: center;
    padding-bottom: 147px;
}
.checkbox-input-form-online-controls {
    position: absolute;
  opacity: 0;
}

.checkbox-input-form-online-controls+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    zoom: 1;
  }

  .checkbox-input-form-online-controls+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E3B873;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .checkbox-input-form-online-controls:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("./images/checkbox.svg");
    background-size: 15px;
  }
  .checkbox-input-form-online-controls:not(:checked)+label::before{
    background-color: #FFFFFF;
    background-image: none;
}
  label {
      font-size: 14px;
      color: #181818;
  }
/* Main.Types of repear */
.types-of-repear-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2-types-of-repear-container {
    color: #131313;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 auto;
    padding-bottom: 13px;
}
#img-types-of-repear-container {
    padding-bottom: 31px;
}
/* .images-types-of-repear-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images-types-of-repear {
    width: 392px;
    padding-left: 30px;
}
.descriptions-types-of-repear-container {
    display: flex;
    align-items: center;
    margin-top: -127px;
    justify-content: center;
}
.description-types-of-repear-container {
    width: 320px;
    height: 286px;
    background-color: #FFFFFF;
    margin-left: 100px;
} */
.columns-types-of-repear-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1236px;
}
.column-types-of-repear-container {
    display: flex;
    flex-direction: column;
}
.description-types-of-repear-container {
    margin-top: -127px;
    background-color: white;
    width: 320px;
    height: 286px;
    margin-left: 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.price-types-of-repear {
    width: 228px;
    height: 54px;
    background-color: #E3B873;
    margin-top: -26px;
    margin-left: 31px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
}
h4.list-types-of-repear{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    opacity: 1;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 34px;
    padding-bottom: 13px;
    text-transform: none;
}
ul.list-types-of-repear {
    padding-left: 0px;
    margin: 0 auto;
    margin-left: 46px;

}
li.list-types-of-repear{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

/* Main.stages-of-work-form */
section.stages-of-work-form {
    display: flex;
    justify-content: center;
    margin-bottom: 242px;
    background-image: url("./images/stages-of-work.svg");
    background-repeat: no-repeat;
}

.stages-of-work-form-container{
    display: flex;
    width: 1240px;

}
.stages-of-work {
    width: 45%;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 65px;
}
.stage-of-work {
    display: flex;
    justify-content: left;
}
.num-stage-of-work {
    width: 41.76px;
    height: 41.76px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    text-align: center;
    line-height: 41.76px;
    margin-right: 17.05px;
}
.point-stage-of-work {
    display: flex;
    align-items: center;
    height: 57.76px;
    padding: 0px;
    width: 316px;
}
span.num {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
span.point-stage-of-work {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
form.form-stages-of-work-form{
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    margin-bottom: 38.44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.tittle-form-stages-of-work-form {
    width: 250px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 39px;
}
span.tittle-form-stages-of-work-form{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

div.form-stages-of-work-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    padding-top: 105px;
}
div.input-form-stages-of-work-form-container{
    padding-bottom: 48px;
}
.input-form-stages-of-work-form {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
    width: 408px;
    height: 25px;
    font-size: 14px;
    background-color: #131313;
    color: #FFFFFF;
    
}
.input-form-stages-of-work-form:focus{
    border: none;
    border-bottom: 1px solid #E3B873;
    outline: none;
}
.input-form-stages-of-work-form::placeholder{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */
    color: #FFFFFF;
}
.checkbox-input-form-stages-of-work-container {
    display: flex;
    justify-content: left;
    width: 408px;
    margin-top: -32px;
    margin-bottom: 30px;
}
.checkbox-input-form-stages-of-work {
    position: absolute;
  opacity: 0;
}

.checkbox-input-form-stages-of-work+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    zoom: 1;
  }

  .checkbox-input-form-stages-of-work+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #E3B873;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .checkbox-input-form-stages-of-work:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("./images/checkbox.svg");
    background-size: 15px;
  }
  .checkbox-input-form-stages-of-work:not(:checked)+label::before{
    background-color: #131313;
    background-image: none;
}
label#checkbox-input-form-stages-of-work{
    color: #FFFFFF;
}
.button-input-form-stages-of-work-container {
    display: flex;
    justify-content: end;
    width: 409px;
}
#button-input-form-stages-of-work {
    border-radius: 0px;
    width: 213px;
    height: 51px;
}
.tittle-input-form-stages-of-work-form {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid #131313;
}
.img-advantage-form-stages-of-work-form {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    width: 72px;
    height: 72px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage-form-stages-of-work-form{
    display: flex;
    width: 440px;
}
img.img-advantage-form-stages-of-work-form{
    width: 40px;
}
div.text-advantage-form-stages-of-work-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 25px;
}
span.text-advantage-form-stages-of-work-form{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}


